:root{
  --teal: #2ec1ac;
  --teal_hover: #279e8c;
}
#dashboard-header {
  background-color: #56c586ce;
  justify-content: space-between;
  container: fluid;
  position: sticky;
  top: 0;
  color: black;
  z-index: 999;
}
#dashboard-menu {
  color: black;
  position: fixed;
  height: 100%;
  background-image: linear-gradient(180deg, #7df0a7 0%, #85c4e4 100%);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #56c586ce;
}
*{
  font-family: 'Poppins', sans-serif;
}
.h-font{
  font-family: 'Crimson Text';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn1 {
  background: #6A5ACD;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}
.btn1:hover {
  background: DarkSlateBlue; /* Change the background color on hover */
  color: white;
}
.log-button {
  padding: 10px 15px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
}
.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

.custom-alert{
  position: fixed;
  top: 80px;
  right: 25px;
}

#dashboard-menu{
  position: fixed;
  height: 100%;
  z-index: 11;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(36,36,36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 991px) {
  #dashboard-menu{
    height: auto;
    width: 100%;
  } 
  #main-content{
    margin-top: 60px;
  }
}